---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const users = await Astro.glob('./user/*.{md,mdx}')
---

<!DOCTYPE html>
<html lang="kr">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li time {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
            img {
                width: 100px;
                height: 100px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            div {
                display: flex;
                padding: 10px 0px;
            }
            .user {
                display: flex;
                align-items: center;
                padding: 16px;
            }
            .user:hover {
                border-radius: 10px;
                background-color: #dddddd;
            }
            .profile {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
            }
            .profile > p {
                margin-bottom: 4px;
            }
            .title {
                font-size: 24px;
                font-weight: 700;
            }
            .button {
                width: fit-content;
                padding: 8px 16px;
                margin-right: 4px;

                color: white;
                background-color: #333333;

                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>Writers</h1>
                <hr />
                <ul>
                    {
                        users.map(
                            ({ frontmatter: { title, github, domain } }) => (
                                <div class="user">
                                    <img src={`/images/avatar/${title}.jpg`} />
                                    <div class="profile">
                                        <p>
                                            <span class="title">{title}</span>{' '}
                                            <span class="domain">
                                                {domain} developer
                                            </span>
                                        </p>
                                        <div>
                                            <a
                                                class="button"
                                                href={github}
                                                target="_blank"
                                            >
                                                <svg
                                                    stroke="currentColor"
                                                    fill="currentColor"
                                                    stroke-width="0"
                                                    viewBox="0 0 16 16"
                                                    height="1em"
                                                    width="1em"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                                </svg>
                                            </a>
                                            <a
                                                class="button"
                                                href={`/user/${title}`}
                                            >
                                                {'Profile 🔎'}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            )
                        )
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
